Estilizar a cor de fundo do seu site como o css
body{
background-color: rgb(26, 25, 6);
}

Estilizar o título principal do seu site
 h1{
color:rgb(43, 226, 226) ;
font-family: ;
background: ;
}

Estilizar os parágrafos
p{
color:rgb(255, 0, 255) ;
font-family: ;
font-size: ;
background: ;
}
